<p><img src="Res/Logo.png" /></p>
<h1 id="introduction">Introduction</h1>
<p>TEXT</p>
<h1 id="management-summary">Management Summary</h1>
<h3 id="overview-findings">Overview Findings</h3>
<table>
<thead>
<tr class="header">
<th>Severity</th>
<th>Name</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>CRITICAL</td>
<td>Finding1</td>
</tr>
</tbody>
</table>
<h3 id="summary">Summary</h3>
<h3 id="conclusion">Conclusion</h3>
<h1 id="scope">Scope</h1>
<table>
<thead>
<tr class="header">
<th>IP / URL</th>
<th>Name</th>
<th>Details</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td></td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>
<h1 id="findings">Findings</h1>
<h2 id="critical---finding_title">Critical - FINDING_TITLE</h2>
<p><strong>CVSS</strong> 10.0 ()</p>
<p><strong>Assets</strong> Server1</p>
<h3 id="description">Description</h3>
<p>test code:</p>
<div class="sourceCode" id="cb1"><pre
class="sourceCode python"><code class="sourceCode python"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true" tabindex="-1"></a><span class="bu">print</span>(<span class="st">&quot;hello&quot;</span>)</span></code></pre></div>
<h3 id="remediation">Remediation</h3>
<p>modify <code>script.py</code>.</p>
<h1 id="appendix">Appendix</h1>
<p>TEST</p>
