<h1 id="introduction">Introduction</h1>
<p>TEXT</p>
<h1 id="management-summary">Management Summary</h1>
<h2 id="overview-findings">Overview Findings</h2>
<table>
<thead>
<tr class="header">
<th>Id</th>
<th>Name</th>
<th>Severity</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>id-1</td>
<td>FINDING_TITLE</td>
<td>High</td>
</tr>
<tr class="even">
<td>id-2</td>
<td>FINDING_TITLE</td>
<td>Info</td>
</tr>
</tbody>
</table>
<h2 id="summary">Summary</h2>
<h2 id="conclusion">Conclusion</h2>
<h1 id="scope">Scope</h1>
<table>
<thead>
<tr class="header">
<th>IP / URL</th>
<th>Name</th>
<th>Details</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>
<h1 id="findings">Findings</h1>
<h2 id="id-1-finding_title-high">id-1 // FINDING_TITLE // High</h2>
<p><strong>CVSS</strong>: 10.0 ()</p>
<p><strong>Assets</strong>: Server1</p>
<h3 id="description">Description</h3>
<p>test code:</p>
<div class="sourceCode" id="cb1"><pre
class="sourceCode python"><code class="sourceCode python"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true" tabindex="-1"></a><span class="bu">print</span>(<span class="st">&quot;hello&quot;</span>)</span></code></pre></div>
<p>Screenshot:</p>
<figure>
<img src="Findings/../Res/Logo.png" alt="Description" />
<figcaption aria-hidden="true">Description</figcaption>
</figure>
<h3 id="remediation">Remediation</h3>
<p>modify <code>script.py</code>.</p>
<h2 id="id-2-finding_title-info">id-2 // FINDING_TITLE // Info</h2>
<p><strong>CVSS</strong>: N/A</p>
<p><strong>Assets</strong>: Server1</p>
<h3 id="description">Description</h3>
<p>test code:</p>
<div class="sourceCode" id="cb2"><pre
class="sourceCode python"><code class="sourceCode python"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true" tabindex="-1"></a><span class="bu">print</span>(<span class="st">&quot;hello&quot;</span>)</span></code></pre></div>
<h3 id="remediation">Remediation</h3>
<p>modify <code>script.py</code>.</p>
<h1 id="appendix">Appendix</h1>
<p>TEST</p>
